# Where the GRIB2JSON utility finds itself
GRIB2JSON_PATH = "/path/to/grib2json"

# ID of the user to send tests to when runnen alerts_test.py
TEST_USER = "abc123abc123"

# The password for the hq web interface
HQ_PASSWORD = 'admin'

PARSE_APPLICATION_ID = "q23r432423423423423"
PARSE_REST_API_KEY = "w309r82309i09238r40wpod"

UPLOAD_FOLDER = "/path/to/uploads"
