# Where the GRIB2JSON utility finds itself
GRIB2JSON_PATH = "/path/to/grib2json"

# ID of the user to send tests to when runnen alerts_test.py
TEST_USER = "abc123abc123"

# The password for the hq web interface
HQ_PASSWORD = 'admin'
