body {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 12px;
    padding: 20px;
}
td {
    padding: 4px;
}
table {
    margin: 20px 0;
    width: 100%
}
th {
    text-align: left;
    font-weight: bold;
}

h3 {
    margin: 20px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dotted #999;
}

img.debug {
    margin: 10px 0;
    border: 1px dotted #999;
}

div.reports div.report {
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px dotted #999;
}
div.reports p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

