{% extends "base.html" %}

{% block title %}Predictions{% endblock %}

{% block content %}
<a href="/hq/moderate">Moderate photos</a>
    <div>
        <h3>Upcoming predictions</h3>
        <dl>
            {% for forecast in forecasts if forecast.future %}
            <dt content="{{ forecast.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}" class="time">{{ forecast.date.strftime('%H:%M %d %b') }}</dt>
            <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbows.json">rainbows.json</a></dd>
            <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.clouds.json">clouds.json</a></dd>
            <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbow_cities.json">rainbow_cities.json</a></dd>
            {% endfor %}
        </dl>
    </div>

    <div>
        <h3>Most recent prediction</h3>
        <dl>
            {% for forecast in forecasts if not forecast.future %}
            <dt content="{{ forecast.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}" class="time">{{ forecast.date.strftime('%H:%M %d %b') }}</dt>
            <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbows.json">rainbows.json</a></dd>
            <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.clouds.json">clouds.json</a></dd>
            <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbow_cities.json">rainbow_cities.json</a></dd>
            {% endfor %}
        </dl>
    </div>

    <div>
        <h3>Browse GFS data</h3>
        {% for slug in gfs %}
        <a href="/hq/gfs/{{ slug }}">{{ slug }}</a>
        {% endfor %}
    </div>

    <table>
        <tr>
            <th width="10%">script</th>
            <th width="10%">date</th>
            <th>message</th>
        </tr>
        
        {% for log in logs %}
        <tr class="{{ log.levelname }} {{ log.pathname.split('/')[-1].replace(".py","") }}"><td class="scriptname">{{ log.pathname.split('/')[-1] }}</td><td class="time" content="{{ log.time.strftime('%Y-%m-%dT%H:%M:%S%z') }}">{{ log.time.strftime('%H:%M %d %b') }}</td><td class="lineno">{{ '%04d' % log.lineno }}</td><td class="message">{{ log.msg }}</td></tr>
        {% endfor %}
    </table>

{% endblock %}
