{% extends "base.html" %}

{% block title %}Photo moderation{% endblock %}

{% block content %}
<a href="/hq/">Back</a>

<div class="reports">
    {% for r in reports %}
    {% if r.photo %}
    <div class="report">
        <span class="">{{ r.created.strftime('%Y-%m-%dT%H:%M:%S%z') }}</span><br>

        <img src="/photos/{{ r.photo.variants['400'] }}" />
        <br />
        <span>Taken at: {{ r.city }}</span>
        <p>Reason: {{ r.reason }}</p>

        <form method="POST" action="/hq/moderate-action/{{ r.photo.id }}">
            <button type="submit" name="action" value="remove" onclick="return confirm('Click OK to remove this photo from the app')">Remove photo</button>
            <button type="submit" name="action" value="block" onclick="return confirm('Click OK to permanently block the user who uploaded this photo')">Block user</button>
            <button type="submit" name="action" value="ignore" onclick="return confirm('Click OK to ignore this flag')">Ignore</button>
        </form>
        
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}
